<div class='well text-center'>
  <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit 'Sign Up', class: 'btn btn-success' %>
  <% end %>
  Signup to receive updates every alternate fridays.
</div>
